body {
    background-color: rgb(13,26,45) ;
    text-align: start;
    min-height: 100vh;

}

.card {
    position: fixed;
    margin: auto;
    inset: 0;
    padding: 1rem;
    padding-bottom: 2rem;
    height: 460px;
    width: 262px;
    border-radius: 16px;
    background-color:  rgb(21,39,63); 
    box-shadow: 0px 10px 20px 0px rgb(0, 0, 0, 0.0.3);
}
img {
    width: 100%;
    border-radius: 8px;
}
h3{
    color: white;
}

p  {
    color: rgb(136,159,193) ;
}

h4{
    color: rgb(3,248,245)
}
.line {
    border-bottom: 1px solid rgb(43,61,85)  ;
}
span img {
    width: 1.5rem;
    height: 1.5rem;
    border:1px solid white;
    border-radius: 100%;
    vertical-align:text-bottom;
    margin-top: 10px;
    
    
}


b {
    text-align: initial;
    color: rgb(115,138,166);
    font-size: 0.9rem; 
} 

a {
    color:rgb(218,228,244)  
}
