/* POPPINS FONT */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  font-family: 'Poppins',sans-serif;
}

body{
  background: url(images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background-color: rgba(39, 39, 39, 0.4) ;


}

.nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 1), transparent);
  z-index: 100;
}

.nav-logo p{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul{
  display: flex;
}

.nav-menu ul li{
  list-style-type: none;
} 

.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;

}

.link:hover, .active{
  border-radius: 2px solid #fff;
}

.nav-button .btn{
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255,255,255,0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  background:rgba(255,255,255,0.3);
}


#registrationBtn{
  margin-left: 15px;

}

.btn.white-btn{
  background: rgba(255,255,255,0.7)  ;
}
.btn.btn.white-btn:hover{
  background:rgba(255,255,255,0.5);
}

.nav-menu-btn{
  display: none;

}

.from-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}
.registe-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}

.top span{
  color: #fff;
  font-size: small;
  padding: 10px 0px;
  display: flex;
}

.top span a{
  font-weight: 500;
  color: #fff;
  margin-left: 5px;

}

header{
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}

.two-from{
  display: flex;
  gap: 10px;
}

.input-field{
  font-size: 15px;
  background: rgba(255,255,255,0.2);
  color: #fff;
  height: 50px;
  

}


